<section class="error-card form-card card skin-organic bbshim" role="region">
  <header>
    <h1 id="bad-password-header" class="sup-account-header-label header-label"
      data-l10n-id="setup-bad-password-header"></h1>
  </header>
  <div class="scrollregion-below-header sup-form" role="heading" aria-labelledby="bad-password-header">
    <form>
      <h2 class="sup-bad-password-label sup-form-label"
          data-l10n-id="setup-bad-password"></h2>

      <p data-prop="accountNode" class="sup-bad-password-account"></p>

      <li class="sup-fix-password-li sup-account-li" role="menuitem">
        <span class="input-title" data-l10n-id="settings-password"></span>
        <input data-prop="fixPasswordNode"
               class="sup-fix-password-input" type="password"
               x-inputmode="verbatim"
               inputmode="verbatim" />
      </li>
    </form>
  </div>
</section>
