* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  margin: 0;
  padding: 0 5px;
}

body, textarea, input {
  font-size: 1rem;
  font-family: "Open Sans", OpenSans, sans-serif;
  background: #fff;
}

textarea, input {
  font-family: "Noto Sans", NotoSans, "Open Sans", OpenSans, sans-serif;
  border: none;
  border-radius: none!important;
  outline: none;
  outline-radius: none!important;
  padding: 3px 2px;
}

textarea.monospace, input.monospace {
  font-family: monospace;
}

p {
  font-size: inherit;
}

#title, #title h1 {
  display: block;
  position:fixed; top:0; left: 0; width: 100%; height: 28px;
  text-align: center;
  font-size: 17px;
  color: #ffffff;
  font-weight: 300;
  background: rgb(111, 2, 181);
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#text, #filepicker, #help {
  position: fixed; top:28px; left: 0; width: 100%; height: calc(100% - 58px);
}

#text textarea {
  position: relative; width: 100%; height: 100%;
}

#text.alt-theme, textarea.alt-theme {
  background: #111;
  color: #eee;
}

#softkeys {
  position: fixed; bottom: 0; left: 0; width: 100%; height: 30px;
  background: #dadada;
  padding: 3px 5px;
}

#softkeys > * {
  display: inline-block;
  width: 72px;
  padding: 0 5px;
}

#softkey-left, #softkey-right {
  font-weight: 400;
  font-size: 14px;
  color: #323232;
}

#softkey-right {
  text-align: right;
}

#softkey-center {
  font-weight: 600;
  font-size: 16px;
  width: 76px;
  color: #323232;
  text-align: center;
}

#sim_selection {
  text-align: center;
  margin-top: 38px;
}

#sim_selection select {
  width: 92%;
  min-height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  box-shadow: 3px 3px 3px grey;
  padding-top: 3px;
}

#imei_section {
  text-align: center;
}

#imei_section input {
  width: 90%;
  min-height: 2rem;
  box-shadow: 3px 3px 3px grey;
  border: 1px solid lightslategrey;
  border-radius: 4px;
  margin: 5px auto;
}


#info {
  text-align: center;
  padding-top: 1em;
}
