<element name="modify-account" extends="section">
  <template>
    <header id="modify-account-header" >
      <h1 data-l10n-id="account-header" id="account-header"></h1>
    </header>

    <section class="during-progress" aria-live="assertive" aria-atomic="true">
      <div>
        <div id="account-syncing-img"></div>
        <span class="p-pri" data-l10n-id="tcl-syncing">SeTtiNg uP ACcOunt</span>
      </div>
    </section>

    <form class="modify-account-form">
      <fieldset>
        <ol role="list">
          <li id="acc-user" class="user" role="listitem">
            <span id="modify-account-username" class="p-sec" data-l10n-id="field-user">Username</span>
            <input type="email" aria-labelledby="modify-account-username" class="p-pri" name="user" x-inputmode="verbatim" id="account-name">
          </li>
          <li id="acc-password" class="password" role="listitem">
            <span id="modify-account-password" class="p-sec" data-l10n-id="field-password">Password</span>
            <input aria-labelledby="modify-account-password" class="p-pri" name="password" type="password" id="account-password">
          </li>
          <li id="showPwd-li" class="show-password"role="listitem">
            <label class="pack-checkbox-large">
              <input name="showPwd" id="showPwd" type="checkbox">
              <span aria-hidden="true" class="p-pri" data-l10n-id="show-password">Show password</span>
            </label>
          </li>
          <li id="acc-url" class="full-url" role="listitem">
            <span id="modify-account-url" class="p-sec" data-l10n-id="field-full-url">URL</span>
            <input aria-labelledby="modify-account-url" class="p-pri" name="fullUrl" type="url" id="account-url" pattern="https?://.+">
          </li>
          <li class="sync-errors">
            <p data-l10n-id="modify-account-unable-to-sync">>uNaBle to SynC</p>
          </li>
          <li class="oauth2-sign-in">
            <button data-l10n-id="modify-account-sign-in" class="force-oauth2"></button>
          </li>
          <li id="deleteAcc-li">
            <a id="delete-account-button" data-l10n-id="remove-account-data" role="button" class="p-pri danger delete-record bb-button">
              Remove Account
            </a>
          </li>
        </ol>
      </fieldset>
    </form>

    <section role="status" aria-live="assertive" aria-atomic="true">
      <p class="errors"></p>
    </section>

    <form role="dialog" data-type="confirm" id="remove-account-dialog">
      <section>
        <h1 data-l10n-id="remove-account-dialog">Remove Account</h1>
        <p data-l10n-id="remove-account-dialog-details">
          Removing this account will also remove your local copy of associated calendars and events.
        </p>
      </section>
      <menu>
        <button class="delete-cancel" data-l10n-id="cancel">Cancel</button>
        <button class="danger delete-confirm" data-l10n-id="confirm">Confirm</button>
      </menu>
    </form>
  </template>
</element>
