<element name="settings" extends="section">
  <template>
    <header class="settings-header" id="settings-header">
      <h1 id="settings-header-title" data-l10n-id="tcl-settings-header">Calendar to Display</h1>
    </header>

    <div class="settings-drawer-container">
      <div class="settings-drawer">
        <ol class="calendars">
        </ol>
      </div>
    </div>
  </template>
</element>
