<element name="emergency-alert" extends="section">
  <template>
    <gaia-header data-href="#root">
      <h1 data-l10n-id="emergencyAlert"></h1>
    </gaia-header>
    <div>
      <ul role="menu">
        <li role="menuitem" id="alert-inbox">
          <a class="menu-item" href="#">
            <span data-l10n-id="alert-inbox"></span>
          </a>
        </li>
      </ul>

      <div class="options-container"></div>

      <ul id="alert-notification">
        <header>
          <h2 data-l10n-id="alert-notification"></h2>
        </header>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="cmas.volume.enable">
            <span data-l10n-id="alert-sound" id="alert-sound"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="cmas.vibrate.enable">
            <span data-l10n-id="alert-vibrate" id="alert-vibrate"></span>
          </label>
        </li>
      </ul>

      <ul role="menu" id="receive-alert-body" hidden>
        <header>
          <h2 data-l10n-id="receive-alert"></h2>
        </header>
        <li role="menuitem" class="none-select">
          <label class="pack-checkbox">
            <input type="checkbox" name="cmas.presidential.enabled" disabled="true">
            <span data-l10n-id="presidential-alert"></span>
          </label>
        </li>
        <li role="menuitem" id="emergency-alert-tw-menu" hidden>
          <label class="pack-checkbox">
            <input type="checkbox" name="emergency.alert.tw.enabled">
            <span data-l10n-id="emergency-alert-tw"></span>
          </label>
        </li>
        <li role="menuitem" id="emergency-message-tw-menu" hidden>
          <label class="pack-checkbox">
            <input type="checkbox" name="emergency.message.tw.enabled">
            <span data-l10n-id="emergency-message-tw"></span>
          </label>
        </li>
        <li role="menuitem" id="cmas-extreme-menu">
          <label class="pack-checkbox">
            <input type="checkbox" name="cmas.extreme.enabled" data-relatedkey="cmas.severe.enabled">
            <span data-l10n-id="extreme-alert"></span>
          </label>
        </li>
        <li role="menuitem" id="cmas-severe-menu">
          <label class="pack-checkbox">
            <input type="checkbox" name="cmas.severe.enabled">
            <span data-l10n-id="severe-alert"></span>
          </label>
        </li>
        <li role="menuitem" id="cmas-amber-menu">
          <label class="pack-checkbox">
            <input type="checkbox" name="cmas.amber.enabled">
            <span data-l10n-id="amber-alert"></span>
          </label>
        </li>
        <li role="menuitem" id="required-monthly-test-menu">
          <label class="pack-checkbox">
            <input type="checkbox" name="cmas.monthlytest.enabled">
            <span data-l10n-id="required-monthly-test"></span>
          </label>
        </li>
        <li role="menuitem" id="exercise-alert-menu">
          <label class="pack-checkbox">
            <input type="checkbox" name="cmas.exercise.enabled">
            <span data-l10n-id="exercise-alert"></span>
          </label>
        </li>
      </ul>
      <ul role="menu" id="ringtone-preview-menu">
        <header>
          <h2 data-l10n-id="wea-ringtone-preview"></h2>
        </header>
        <li role="menuitem" id="ringtone-preview">
          <a class="menu-item" href="#">
            <span data-l10n-id="wea-ring"></span>
          </a>
        </li>
      </ul>
    </div>
    <panel data-path="panels/emergency_alert/panel"></panel>
  </template>
</element>
