<!-- Content of LockScreen frame -->

<div id="lockscreen-frame" hidden>

  <style scoped>
    @import url("lockscreen/style/lockscreen_fake_notification.css");
    @import url("lockscreen/style/lockscreen_frame.css");
    @import url("lockscreen/style/notifications.css");
    @import url("lockscreen/style/lockscreen.css");
  </style>

  <script defer src="lockscreen/js/lockscreen_notification_builder.js"></script>
  <script defer src="lockscreen/js/lockscreen_notifications.js"></script>
  <script defer src="lockscreen/js/lockscreen_charging.js"></script>
  <script defer src="lockscreen/js/lockscreen.js"></script>

  <script defer src="lockscreen/js/lockscreen_frame_agent.js"></script>
  <script defer src="lockscreen/js/lockscreen_base_state.js"></script>
  <script defer src="lockscreen/js/lockscreen_state_panelhide.js"></script>
  <script defer src="lockscreen/js/lockscreen_state_panelrestore.js"></script>
  <script defer src="lockscreen/js/lockscreen_state_panelshow.js"></script>
  <script defer src="lockscreen/js/lockscreen_state_unlock.js"></script>
  <script defer src="lockscreen/js/lockscreen_state_secure_app_launching.js"></script>
  <script defer src="lockscreen/js/lockscreen_state_logger.js"></script>
  <script defer src="lockscreen/js/lockscreen_state_manager.js"></script>
  <script defer src="lockscreen/js/lockscreen_bootstrap.js"></script>

  <div id="lockscreen" class="uninit" data-panel="main" data-panel="main" data-z-index-level="lockscreen">
  <div id="lockscreen-background" class="lockscreen-background"></div>
  <div id="lockscreen-masked-background" class="blank"></div>
  <div id="lockscreen-container">
    <div id="lockscreen-panel-main" class="lockscreen-panel">
      <div id="notifications-lockscreen-cmas" hidden>
        <h1 class="cmas-title" data-l10n-id="tcl-cmas-title" hidden>CMAS alert</h1>
        <img class="cmas-type-icon" src="lockscreen/style/images/cmas_icon.png">
        <p></p>
        <div id="lockscreen-cmas-help" data-l10n-id="tcl-cmas-screen-help">Press OK to view more information</div>
      </div>

      <div id="lockscreen-header">
        <div id="lockscreen-clock-prefix"></div>
        <div id="lockscreen-clock-time">
          <span id="lockscreen-clock-time-hour"></span>
          <span id="lockscreen-clock-time-minute"></span>
        </div>
        <div id="lockscreen-date"></div>
      </div>

      <div id="notifications-lockscreen-container">
      </div>

      <div id="lockscreen-notification-arrow">
      </div>

      <div id="lockscreen-passcode-container">
        <div id="lockscreen-passcode-notification-container">
          <div class="passcode-notification" data-l10n-id="lockscreenEnterLockCode" data-type="notify_to_enter_code">Phone is locked, please enter Lock Code</div>
          <div class="passcode-notification" data-l10n-id="lockscreenCheckLockCode" data-type="notify_to_check_code">Please check your Lock Code and try again</div>
        </div>
        <p id="lockscreen-passcode-code"><span></span><span></span><span></span><span></span></p>
     </div>
    </div>
    <div id="remoteLockscreen" hidden>
       <h1>Warning</h1>
       <p>Phone has been locked remotely. To unlock, log in to you your Firefox account.</p>
    </div>
    <div id="lockscreen-panel-emergency-call" class="lockscreen-panel"></div>
  </div>
  </div>
</div>
<!-- End of content of LockScreen frame -->

