#language-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#language-list {
  overflow: scroll;
}

#language-list > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

#language-list > li > span { 
  line-height: 1;
  color: var(--color-gs90);
  padding: 0 1rem 0 1rem;
  margin-bottom: 0.5rem;
}

#language-list > li > label {
  padding: 0 1rem 0 1rem;
}

@media only screen and (orientation: landscape) {
  #language-wrapper,
  #language-list {
    height: 100%;
  }
}
