<li class="suggestion-item" role="presentation">
  <a class="suggestion" role="option" data-email="{{email}}" data-source="contacts" data-name="{{name}}">
    <p class="name"><bdi class="ellipsis-dir-fix p-pri">{{name}}</bdi></p>
    <p class="email">
        <span class="description p-pri">{{type}}, </span>
        <span class="email-detail p-pri">{{email}}</span>
    </p>
  </a>
</li>
